<form [formGroup]="form">
    <mat-form-field>
        <mat-select placeholder="Template" formControlName="template" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let template of templates" [value]="template">
                {{template.fileName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Top" formControlName="top" required />
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput placeholder="Bottom" formControlName="bottom" required />
    </mat-form-field>

    <app-meme *ngIf="preview" [meme]="preview"></app-meme>

    <div class="button-row">
        <a mat-button routerLink="/">Cancel</a>
        <button mat-button color="primary" (click)="save()">Save</button>
    </div>
</form>