:host {
    display: block;
    padding-top: 0.5em;
}

a[mat-fab] {
    display:block;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 9999;
    font-size: 2em;
}

a[mat-fab] i {
    display:block;
    margin-top: -0.1em;
}